.profesionales1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #501010;
  padding: 5% 0 5% 0;
  color: white;
}

.profesionales1 h1 {
  text-decoration: underline;
  font-size: 2em;
}
