.profesionales1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #501010;
  padding: 10% 5%;
  color: white;
}

.profesionales1 h1 {
  text-decoration: underline;
  font-size: 2.9em;
  font-weight: 500;
  text-align: center;
  text-wrap: pretty;
}

.profesionales1 p {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  width: 60%;
  padding: 2% 0;
  text-wrap: balance;
}

/* animación activada con el scroll */
.profesionales1 h1,
.profesionales1 p,
.profesionales1 a {
  view-timeline-name: --fade-y;
  view-timeline-axis: block;

  animation-timeline: --fade-y;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

#feed-container {
  margin-top: 5%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  padding-top: 0px;
  position: relative;
  flex-grow: 1;
}

#main-gallery {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  column-gap: 8px;
  overflow: hidden;
}

#feed-content {
  flex: 1 0 0%;
  display: block;
  position: relative;
  width: 100%;
}

#feed-content img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 77%;
  position: relative;
}

#feed-content img:hover .opacity-hover {
  width: 100%;
}

.caption {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
  transform: translateY(500px);
  transition: transform 100ms linear;
}

.opacity-hover:hover .caption {
  transform: translateY(0px);
}

.caption p {
  color: white;
  width: 80%;
}

.opacity-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: background-color 300ms linear;
}

.opacity-hover:hover {
  background-color: rgba(2, 2, 2, 0.7);
}
