.profesionales1 {
  width: 100%;
	height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #501010;
  padding: 15% 0;
  color: white;
}

.profesionales1 h1 {
  text-decoration: underline;
  font-size: 2.9em;
	font-weight: 500;
	padding-bottom: 3%;
}

.profesionales1 p {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	width: 50%;
}
