.popup-container {
  position: fixed;
  z-index: 999999999;
  color: white;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.25);
  padding: 1.5%;
  border-radius: 15px;
  width: 90vh;
}

.popup-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-content button {
	margin-top: 8px;
	padding: 0 5px;
}

.popup-container video {
  width: auto;
}

.popup-image-desktop {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media screen and (max-width: 1280px) {
  .popup-container video {
    width: 100%;
    height: 70vh;
  }

  .popup-content button {
    align-self: center;
  }

  .popup-image-mobile {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
}
