.services {
  width: 100%;
  height: auto;
  padding: 7% 5%;
  text-align: center;
}

.services h1 {
  text-decoration: underline;
  font-size: 2.9em;
  font-weight: 600;
  text-align: center;
  text-wrap: pretty;
}

.services p {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
  padding: 2% 0;
}

.services-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.services-card {
  width: 21%;
  min-width: 330px;
  text-align: start;
  /* box-shadow: 0 5px 25px; */
  border-radius: 7px;
  padding: 1rem 0.8rem;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    200deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(230, 230, 230, 1) 100%
  );
  background: -webkit-linear-gradient(
    200deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(230, 230, 230, 1) 100%
  );
  background: linear-gradient(
    200deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(230, 230, 230, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e6e6e6",GradientType=1);
  cursor: pointer;
}

.services-image {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
}

.services-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
  border-radius: 7px;
}

.services-image:hover img {
  transform: scale(1.3);
}

.services > div:nth-child(3) {
  margin: 2rem 0;
}

.services > div:last-child {
  margin-top: 4rem;
}