.container1 {
    padding: 5% 0 5% 0;
    display: inline-flex;
    background-color: var(--mid-tone);
}

.left1 {
    margin: 0 5% 0 10%;
    width: 45%;
}

.container1 p {
    margin: 2% 0 5% 0;
    font-size: 1.2em;
    font-weight: 300;
}

.right1 {
    margin: 0 10% 0 5%;
    width: 45%;
}

.l1-1 {
    margin-bottom: 15%;
}

.r1-1 img{
    margin: 5% 0 5% 0;
}

/* animación activada con el scroll */
@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%
    }
}

.container1 img {
    view-timeline-name: --fade-y;
    view-timeline-axis: block;

    animation-timeline: --fade-y;
    animation-name: show;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    
}