.container1 {
    padding: 5% 0 5% 0;
    display: inline-flex;
    background-color: var(--mid-tone);
}

.left1 {
    margin: 0 5% 0 10%;
    width: 45%;
}

.container1 p {
    text-align: justify;
    margin: 2% 0 5% 0;
    font-size: 1.2em;
    font-weight: 300;
}

.right1 {
    margin: 0 10% 0 5%;
    width: 45%;
}

.l1-1 {
    margin-bottom: 15%;
}

.r1-1 img{
    margin: 5% 0 5% 0;
}