.testimonios-container {
    width: 100%;
    height: auto;
    padding: 5% 0;
    margin: 5% 0;
}

.testimonios-wrapper {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; */
}

.testimonios-container div>h1 {
    font-size: 3em;
    text-align: center;
    letter-spacing: 5px;
}

.testimonios-container div>p {
    font-size: 1.5em;
    text-align: center;
}

.header-reviews {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.testimonios-container .header-reviews img {
    width: 5%;
    height: 5%;
}

.reviews-container {
    height: auto;
}

.reviews-wrapper {
    height: fit-content;
    padding: 0 5%;
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(300px, 1fr)
        );
    gap: 3%;
}

#reviews-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 5%;
    border-radius: 8px;
    box-shadow: 0px 0px 30px #afafaf;
}

#reviews-content h3 {
    padding-bottom: 3%;
}

#reviews-content>p {
    padding-top: 3%;
    font-size: 1em;
}