.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../blog_background_0001v3.webp);
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  z-index: 0;
}

.contact::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(235, 212, 204, 0.95);
  /* background: rgba(26, 26, 26, 0.72); */
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 3em;
  color: var(--borgona);
  font-weight: 500;
}

.contact .content p {
  color: var(--borgona);
  font-size: 1.1em;
  font-weight: 300;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box a {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: var(--borgona-mid-low);
  color: var(--borgona);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75em;
  transition: 0.5s;
}

.container .contactInfo .box:hover .icon {
  background: var(--main);
  color: #fff;
}

.container .contactInfo .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: var(--borgona-mid-tone);
  font-weight: 400;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: var(--low-tone);
}

.container .contactInfo .txt {
  color: #fff;
  margin-top: 50px;
  font-weight: 500;
  padding-left: 10px;
  border-left: 50px solid #e91e63;
  line-height: 1em;
}

.container .contactForm {
  position: relative;
  width: 40%;
  background: rgba(255, 255, 255, 0.8);
  min-height: 100px;
  padding: 60px;
}

.container .contactForm h2 {
  font-size: 2em;
  color: #333;
  font-weight: 500;
}

.container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.container .contactForm .inputBox input,
.container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #666;
  transition: 0.5s;
}

.container .contactForm .inputBox input:focus ~ span,
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span,
.container .contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 0.9em;
  transform: translateY(-20px);
}

.container .contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: var(--main);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

.container .contactForm .inputBox input[type="submit"]:hover {
  background: var(--complement2);
}

/* CONTACTO RESPONSIVE */
@media screen and (max-width: 991px) {
  .contact {
    padding: 50px;
    padding-top: 20%;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }

  .container .contactForm {
    padding: 50px 30px;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    padding: 50px 0;
    padding-top: 30%;
  }

  .container .contactForm {
    padding: 50px 3%;
  }

  .container .contactInfo .box {
    padding: 20px 3%;
  }
}
