.footer {
    background-color: #501010;
    color: white;
    font-weight: 200;
}

.info1-1 {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    padding: 3% 0 3% 0;
}

.footer .bloque {
    width: 25%;
}

.footer .bloque:first-child {
    padding-left: 5%;
}

.footer .bloque img {
    padding-bottom: 10%;
}

.footer .bloque:last-child {
    padding: 5% 5% 0 0; 
}

.footer .bloque:nth-child(n+2):nth-child(-n+3) {
    padding: 5% 5% 0 5%
}

.footer .bloque h2:nth-child(n+2) {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    padding-top: 15%;
    text-decoration: underline;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.footer .copyright {
    padding: 0 0 3% 5%;
}