.footer {
    background-color: var(--main);
    color: white;
    font-weight: 200;
}

.info1-1 {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    padding: 3% 0 3% 0;
}

.footer .bloque {
    width: 25%;
}

.footer .bloque:first-child {
    margin-left: 5%;
}

.footer .bloque:last-child {
    margin-right: 5%;

}

.footer .bloque:nth-child(n+2):nth-child(-n+3) {
    margin: 0 3% 0 3%;
}

.footer .bloque img {
    margin-bottom: 10%;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

.footer .copyright {
    padding: 0 0 3% 5%;
}