.footer {
    margin: 0;
    float: none;
    background-color: var(--complement1);
    color: white;
    font-weight: 200;
}

.info1-1 {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
}

.footer .bloque {
    width: 25%;
}

.footer .bloque:first-child {
    padding: 5% 0 0 5%;
}

.footer .bloque img {
    padding-bottom: 10%;
}

.footer .bloque:last-child {
    padding: 5% 5% 0 0; 
}

.footer .bloque:nth-child(n+2):nth-child(-n+3) {
    padding: 5% 4% 0 5%
}

.footer .bloque h2:nth-child(n+2) {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1rem, 1vw + 0.7rem, 3rem);
    padding-top: 15%;
    text-decoration: underline;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    transform: scale(1.3);
    color: var(--low-tone);
    font-size: 1.1rem;
    font-weight: 500;
}

.footer .copyright {
    width: 100%;
    padding: 0 3% 2% 3%;
    display: inline-flex;
    justify-content: space-between;
}

.footer .copyright a {
    color: var(--color-uno);
}


.footer .media-icons{
    display: flex;
    flex: auto;
    justify-content: center;
    transition: 0.5s ease;
}

.footer .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
    padding: 13% 5% 0 5%;
}

.footer .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.footer .media-icons a:hover{
    transform: scale(1.3);
    color: var(--main);
}