.blog1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../public/blog_background_0001v3.webp);
  background-size: cover;
  background-position: center;
  padding: 15% 0 15% 0;
  color: white;
  isolation: isolate;
  position: relative;
}

.blog1::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(26, 26, 26, 0.72);
}

.blog-container {
  width: 100%;
  padding: 0 10% 0 10%;
}

.blog-container h4, h1 {
  font-weight: 600;
  letter-spacing: 5px;
}

.blog-container p {
  font-weight: 400;
}