.blog1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000005e;
    padding: 15% 0 15% 0;
    color: white;
}