.proveedores-container {
  width: 100%;
  padding: 15% 0;
}

.proveedores-container h2 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 10%;
}

.proveedores-container img {
  max-width: 280px;
  /* width: 90%; */
}
