.stats-container {
  width: 100%;
  padding: 10% 0;
  background-image: url(./fondo-madera-natural.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-wrap {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
	align-items: center;
  padding: 0 10%;
  color: white;
}

.stats-wrap div {
  width: 30%;
  max-width: calc(100vw / 2);
  text-align: center;
	font-size: 2.5rem;
	font-weight: 800;
}

.stats-container p {
	font-weight: 500;
}