.stats-container {
  width: 100%;
  padding: 10% 0;
  background-image: url(../../../public/fondo-madera-natural.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding: 0 10%;
  color: #735736;
}

.stats-wrap div {
  position: relative;
  width: 30%;
  max-width: calc(100vw / 2);
  text-align: center;
	font-size: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
	font-weight: 800;
}

.stats-container div p {
  font-size: clamp(1rem, 2vw + 0.2rem, 1.5rem);
	font-weight: 500;
  text-align: center;
}

.stats-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.stats-wrap svg {
  position: absolute;
  height: calc(90vw / 4);
  width: calc(90vw / 4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.stats-wrap svg circle {
  fill: transparent;
  stroke: #9b0f21;
  stroke-width: 30;
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
  stroke-linecap: round;
}

#projects circle {
  animation: stroke 3500ms steps(1600) forwards;
}

#clients circle {
  animation: stroke 4000ms 700ms steps(1600) forwards;
}

#design circle {
  animation: stroke 4500ms 1000ms steps(1600) forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}