.stats-container {
  width: 100%;
  height: auto;
  padding: 10% 0;
  background-image: url(../../../public/fondo-madera-natural.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-container>div {
  margin: 5% 0;
}

.stats-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding: 0 10%;
  color: #735736;
}

.stats-wrap div {
  position: relative;
  width: 30%;
  max-width: calc(100vw / 2);
  text-align: center;
	font-size: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
	font-weight: 800;
  text-shadow: 0 0 20px rgba(255,255,255,.5), 0 0 20px rgba(255,255,255,.5), 2px 2px 20px rgba(0,0,0,0);
}

.stats-container div p {
  font-size: clamp(1rem, 2vw + 0.2rem, 3rem);
	font-weight: 500;
  text-align: center;
}

.stats-wrap img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.stats-wrap svg {
  position: absolute;
  height: calc(90vw / 4);
  width: calc(90vw / 4);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle_animated {
  fill: transparent;
  stroke: none;
  stroke-width: 30;
  stroke-dasharray: 1100 1100;
  stroke-linecap: round;
}

#projects {
  animation: stroke 2800ms ease-out forwards;
}

#clients {
  animation: stroke 2800ms 500ms ease-out forwards;
}

#design {
  animation: stroke 2800ms 1000ms ease-out forwards;
}

@keyframes stroke {
  0% {
    stroke-dasharray: 0 1100 ;
    stroke: #73573600;
  }

  100% {
    stroke: #735736;
  }
}