.stats-container {
  width: 100%;
  padding: 10% 0;
  background-image: url(../../../public/fondo-madera-natural.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.stats-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding: 0 10%;
  color: white;
}

.stats-wrap div {
  width: 30%;
  max-width: calc(100vw / 2);
  text-align: center;
	font-size: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
	font-weight: 800;
}

.stats-container div p {
	font-weight: 500;
  text-align: center;
}