@media screen and (max-width: 1200px){
  .blog-wrap-bottom {
    padding: 0;
  }

  .blog-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    margin: 5%;
    max-width: 100%;
  }

  .proyectos-wrap-top {
    flex-wrap: wrap;
  }
}

/* BREAKPOINTS para regular screen size */
@media screen and (max-width: 1024px) {
  header {
    padding: 12px 20px;
  }

  .mainHero .home {
    padding: 100px 20px;
  }

  .home .media-icons {
    right: 15px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }

  header .navigation .navigation-items {
    background: var(--mid-tone);
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(../public/menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 9999;
  }
  
  .menu-btn.active {
    z-index: 9999;
    background: url(../public/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

  .home .content h1 {
    font-size: 2.5em;
    line-height: 50px;
    /* letter-spacing: 0; */
  }
}

/* BREAKPOINTS para medium screen size */
@media screen and (max-width: 768px) {
  header a img {
    width: 150px;
  }

  /* FOOTER */
  .footer .bloque img {
    width: 50%;
  }

  .info1-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
		text-align: center;
		align-items: center;
		padding: 15% 0;
  }

  .footer .bloque:first-child {
    padding-left: 0;
		width: 95%;
    font-size: 1.5em;
    font-weight: 400;
  }

	.footer .bloque:nth-child(n+2):nth-child(-n+3) {
		padding: 5% 0;
		width: 80%;
    font-size: 1.5em;
	}

  .footer .bloque h2:nth-child(n+2) {
    font-size: 2.5em;
  }

	.footer .bloque:last-child {
		padding: 5% 0;
		width: 95%;
    font-size: 1.5em;
	}

	.footer .copyright {
    padding: 0;
		text-align: center;
		font-size: 0.9em;
	}
}

/* BREAKPOINTS para small screen size */
@media screen and (max-width: 480px) {
  .home .content h1 {
    font-size: 2.3em;
    line-height: 45px;
    letter-spacing: 0;
    font-weight: 900;
  }

  .home .content h1 span {
    font-size: 1em;
    font-weight: 700;
    color: var(--complement2);
  }

  .home .content p {
    font-size: 1.1rem;
    margin-bottom: 50px;
  }

  .mainHero .home {
    padding: 0 15px;
  }

  .home .content a {
    padding: 10px 25px;
    font-size: 0.9em;
    font-weight: 400;
  }

  /* SECTION-1 */
  .container1 {
    display: block;
    padding: 20% 0 20% 0;
  }

  .left1 {
    width: 100%;
    margin: 0;
    padding: 0 10% 0 10%;
  }

  .container1 p {
    font-size: 1em;
  }

  .right1 {
    width: 100%;
    margin: 0;
    padding: 0 10% 0 10%;
  }

  /* SECCION PROFESIONALES */
  .profesionales1 {
    text-align: center;
    height: 680px;
  }

  .profesionales1 h1 {
    font-size: 2em;
    letter-spacing: 4px;
  }

  .profesionales1 p {
    font-size: 1em;
    width: 90%;
    padding: 15% 0;
  }

  /* BLOG */
  .blog-wrap-top {
    padding: 5%;
  }

  /* PROYECTOS */

  /* FOOTER */
  .footer .bloque:first-child {
    width: 90%;
    font-size: 1em;
    font-weight: 200;
  }

	.footer .bloque:nth-child(n+2):nth-child(-n+3) {
    font-size: 1em;
	}

	.footer .bloque:last-child {
		padding: 5% 0;
		width: 95%;
    font-size: 1em;
	}
}
