@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    header .navigation {
        display: none;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    .menu-btn {
        background: url(../public/menu-icon.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3 ease;
    }
}