/* Color Theme Swatches in Hex */
.Moda-1-hex { color: #735736; }
.Moda-2-hex { color: #BFA27E; }
.Moda-3-hex { color: #D9C6B0; }
.Moda-4-hex { color: #8C311C; }
.Moda-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Moda-1-rgba { color: rgba(114, 87, 53, 1); }
.Moda-2-rgba { color: rgba(191, 161, 126, 1); }
.Moda-3-rgba { color: rgba(216, 198, 175, 1); }
.Moda-4-rgba { color: rgba(140, 48, 28, 1); }
.Moda-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Moda-1-hsla { color: hsla(33, 36, 33, 1); }
.Moda-2-hsla { color: hsla(33, 33, 62, 1); }
.Moda-3-hsla { color: hsla(33, 34, 76, 1); }
.Moda-4-hsla { color: hsla(11, 66, 33, 1); }
.Moda-5-hsla { color: hsla(0, 0, 5, 1); }
