@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-uno: white;
  --color-dos: black;
  --main: #791010;
  --complement: #a6333d;
  --complement1: #501010;
  --complement2: #0f2940;
  --mid-tone: #d9d4cc;
  --low-tone: #736a5f;
  --shadow-color-hsl: 222 47% 11%;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(var(--shadow-color-hsl) / var(--shadow-opacity));
  --shadow-lg: 0px 16px 24px var(--shadow-color),
    0px 2px 6px var(--shadow-color);
  --gradient-complement: linear-gradient(90deg, rgba(138, 46, 64, 0.5) 0%, rgba(66, 109, 138, 0.5) 80%);

  --borgona: #401119;
  --borgona-mid-tone: #B7465F;
  --borgona-mid-low: #db9f94;
  --borgona-low-tone: #ebd4cc;
}

