.proyectos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10% 0;
}

.proyectos-container h1 {
  font-size: 3em;
}

.proyectos-wrap-top {
  width: 100%;
}