.proyectos-container {
  width: 100%;
  padding: 5% 0;
}

.proyectos-container h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
}

.proyectos-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 5%;
}

.proyectos-wrapper>div {
  /* border: 10px solid green; */
}

.parent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
  }
  
  .div1 { grid-area: 1 / 1 / 3 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 2 / 2 / 3 / 3; }

  .parent img {
    width: 100%;
    object-fit: cover;
  }