.proyectos-container {
  width: 100%;
  padding-top: 5%;
}

.proyectos-container h1 {
  font-size: 3em;
  text-align: center;
}

.proyectos-wrap-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  gap: 5%;
  padding-bottom: 10%;
}