.proyectos-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 10% 0;
}

.proyectos-container h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 8%;
}

.proyectos-wrapper {
  display: flex;
  gap: 20px;
}

.proyectos-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
}

#proyectos-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#photo-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}